* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
    font-family: 'Arial', sans-serif;
}

/* header */
.logo {
    padding: .5em 1em;
    background-color: white;
}

.logo > img {
    line-height: 50px;
    vertical-align: middle;
}

.nome_logo {
    line-height: 50px;
    font-size: 2.5em;
    vertical-align: middle;
    font-weight: bold;
}

/* main */
main {
    margin: 3em auto 1em auto;
    width: 70%;
}

/* buttons */
.buttons {
    background-color: white;
    width: 100%;
    padding: 1em 3em .5em 3em;
    border-radius: .3em .3em 0 0;
    margin-bottom: .1em;
}


.button_1, .button_2 {
    font-size: .8em;
    padding: .5em;
    line-height: 1em;
    border-radius: .3em;
}

.button_1 {
    background-color: #47ADF1;
    color: white;
    border: solid .1em #47ADF1;
}

.button_2 {
    background-color: white;
    color: lightgrey;
    border: solid .1em lightgrey;
}

/* section */
.sections_container {
    background-color: white;
    width: 100%;
    padding: 2.5em 3em;
    line-height: 1em;
    border-radius: 0 0 .3em .3em;
}

.list_item {
    line-height: 2.2em;
}

.section_title {
    display: inline;
    font-weight: bolder;
}

.checklist {
    padding: .3em 0;
    list-style-type: none;
}

.checkmark {
    color: #79C9B6;
    border: solid #79C9B6 .1em;
    font-size: .7em;
    line-height: .7em;
    padding: .5em;
    border-radius: 100%;
    display: inline-block;
}

.label {
    font-size: .6em;
    background-color: #45ABEA;
    color: white;
    vertical-align: middle;
    padding: .5em 1em;
    border-radius: .9em;
}

.section {
    margin-bottom: 1.5em;
}

.violet {
    background-color: #9C72E4;
}

.crossmark {
    color: #d33931;
    border: solid #d33931 .1em;
    font-size: .8em;
    line-height: .7em;
    padding: .5em;
    border-radius: 100%;
    display: inline-block;

}

.green {
    background-color: #64C0A9;
}

.orange {
    background-color: #F29E33;
}

.last_section {
    margin-bottom: 0;
}

.pink {
    background-color: #D863A1;
}

.lightgreen {
    background-color: #B0C926;
}









