* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #F6F8F9;
}

/* header */
.logo {
    padding: 10px 20px;
    background-color: white;
}

.logo > img {
    float: inline-start;
}

.nome_logo {
    line-height: 50px;
    font-size: 40px;
    margin: 0 10px;
}

/* main */
main {
    margin: 30px auto 10px auto;
    width: 500px;
    height: 600px;
}

/* nav buttons */
nav {
    background-color: white;
    height: 50px;
    padding: 10px 0 5px 40px;
    border-radius: 5px 5px 0 0;
}

.buttons {
    display: inline;
    vertical-align: middle;
}